.nav{
    list-style: none;
     margin: 0;
    padding: 0;
    background-color:rgb(202, 104, 113);
    font-size: 50px;
     Width:20%;
     position: fixed;  
    height: 47%;
    overflow: auto; 
}
li a {
    display: block;
    color:rgb(155, 15, 113);
    padding: 8px 16px;
    text-decoration: none;
     text-align: center;
    border-bottom: 1px solid #555;
}
/* Change the link color on hover */
li a:hover {
    background-color:rgb(202, 255, 113);
    color:rgb(155, 15, 113);
}
.active {
    background-color:rgb(0, 0, 0);
    color:rgb(164, 19, 120);
}
li:last-child {
    border-bottom: none;
}
body{
    background-image:url(http://www.incomeactivator.com/images/freebg1.jpg);
}
.ul{
    font-size: 20px;
    list-style: none
}
.list{
    font-size:25px;
    list-style: inside;
}
.para{
    font-size: 45px;
    text-align: center;
}
.pa{
    font-size: 25px;
    text-align: center;
    width:75%;
    float: right;
}
.spon{
    text-align: center;
    float: right;
    display: block;
    width:100%;
}
/* Dropdown Button */
.dropbtn {
    background-color: rgb(160, 53, 62);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: absolute;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color:rgb(160, 53, 62) ;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px ;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color:rgb(160, 53, 255)}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: rgb(160, 53, 62);
}
a{
    text-decoration: none;
}
.footer{
    position: absolute;
  right: 0%;
  bottom: 10;
  left: 0;
  text-align: center;
  display: block;
  background-color:	#6495ED;
    font-size: 25px;
    color:#7FFFD4;
}
#ul{
 list-style-type:none;
}
#divi{
    display: block;
    width:100%;
}